{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Devices{% endblock %}</h1>
{% endblock %}

{% block content %}


 

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Type</th>
        <th scope="col">RSSI</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Data Types</th>
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
        <tr>
          <th scope="row">{{ device['address'] }}</th>
          <td>{{ device['advtype'] }}</td>
          <td>{{ device['rssi'] }}</td>
          <td>{{ device['timestamp'] }}</td>
          <td>
            <button onclick="obtener_detalle(this)" value="{{ device['id'] }}">Do Flip</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

