<!DOCTYPE html>
<head>
	<title>ListADV</title>
	<meta name="description" content="ListADV, Nyaboronn TFM" charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!--
    MAIN CONTAINER
  -->
  <div class="container"> 
    <!--
      NAV
    -->
    <nav>
      <h1>ListADV</h1>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('auth.logout') }}" class="thisIsAButton">Log Out</a>
        {% else %}
          <li style="margin-right: 5px;"><a href="{{ url_for('auth.register') }}" class="thisIsAButton">Register</a>
          <li><a href="{{ url_for('auth.login') }}" class="thisIsAButton">Log In</a>
        {% endif %}
      </ul>
    </nav>
    <!--
      CONTENT
    -->
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>

</body>


